@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
  --color-primary-dark: #970e3d;
  --color-primary-light: #c43464;
  --color-body-shade: #e6fcf5;
  --color-btn: #099268;
  --color-white: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  color: #444;
  height: 100vh;
  background-color: var(--color-body-shade);
}

.nav {
  height: 9rem;
  background-color: #c3fae8;
  display: flex;
  align-items: center;
  padding: 3.2rem;
}

.logo {
  background-image: linear-gradient(to bottom left, #40c057, #69db7c);
  background-clip: text;
  color: transparent;
  font-size: 4.8rem;
  font-family: 'serif';
}

input:focus {
  outline: none;
  border-color: #40c057;
}

.search-bar {
  width: 24vw;
  margin-right: 1rem;
  margin-left: 28rem;
  padding: 1.2rem 2.4rem;
  border: 2px solid #40c057;
  border-radius: 100px;
  font-size: 1.6rem;
  color: #666;

  transition: all 0.2s;
}

.search-bar::placeholder {
  color: #888;
  font-family: inherit;
  font-size: inherit;
}

.search-btn {
  display: flex;
  align-items: center;
  padding: 1.2rem 1.4rem;
  background-color: var(--color-btn);
  cursor: pointer;
  border-radius: 100px;
  gap: 0.5rem;
  color: var(--color-white);
  font-size: 1.4rem;
  border: 0;
  font-family: inherit;
  transition: all 0.3s;
}

.search-btn:hover {
  background-color: #0ca678;
}

.glass-icon {
  height: 2rem;
}

.cart-icon {
  height: 3rem;
}

.cart-btn {
  margin-left: auto;
  border: 0;
  margin-right: 5rem;
  cursor: pointer;
  border-radius: 50%;
  height: 4.8rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0ca678;
  background-color: transparent;
  transition: all 0.3s;
}

.cart-btn:hover {
  background-color: #0ca678;
  color: #f2ecee;
}

.no-product-cover {
  height: calc(100vh - 9rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-products {
  font-size: 3.6rem;
  color: #40c057;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding-bottom: 2.4rem;
}

.heading-product {
  font-size: 4.4rem;
  color: var(--color-btn);
  margin-top: 7.4rem;
  margin-bottom: 3.2rem;
  font-weight: 600;
}

.para-product {
  font-size: 1.8rem;
}

.fig-container {
  margin-top: 2.4rem;
  display: grid;
  gap: 2.4rem;
  grid-template-columns: repeat(2, 1fr);
}

.cards {
  background-color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 2.4rem;
  border: 2px solid #0ca678;
  overflow: hidden;
  display: flex;
}

.img-box {
  height: 13.7rem;
}

.fig-img {
  height: 100%;
  width: 13rem;
  transition: all 0.5s;
  object-fit: contain;
}

.cards:hover .fig-img {
  transform: scale(1.03) rotate(-1deg);
}

.fig-content {
  padding-left: 1rem;
}

.product-name {
  font-size: 2rem;
  padding-top: 0.5rem;
  font-weight: 500;
  color: #666;
}

.product-description {
  margin-top: 1.6rem;
  font-size: 1.2rem;
  line-height: 1.2;
}

.cart-box {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.product-price {
  color: #555;
  font-size: 1.8rem;
}

.addToCart {
  border: 2px solid #099268;
  background-color: #7fd1c7;
  color: #099268;
  padding: 0.6rem 1.2rem;
  font-size: 1.6rem;
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
  margin-bottom: 0.8rem;
  transition: all 0.3s;
}

.addToCart:hover {
  color: #fff;
  background-color: #19a596;
}

.addToCart[disabled] {
  background-color: #888;
  color: #fff;
  border: 2px solid #666;
  cursor: auto;
}

.no-item {
  text-align: center;
  line-height: 1.4;
  letter-spacing: 0.1rem;
}

.heading-cart {
  font-size: 3.6rem;
  font-weight: 500;
  margin-top: 3rem;
}

.cart-conatiner {
  display: block !important;
}

.carts-titles {
  background-color: #0ca678;
  color: #fff;
  font-size: 1.6rem;
  margin-top: 2rem;
}

.cart-item,
.carts-titles {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
}

.carts-titles p {
  padding: 1rem;
}

.cart-item p:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.cart-item p:nth-child(2) {
  padding-left: 1.6rem;
}

.cart-item p:nth-child(3) {
  padding-left: 3.6rem;
}

.cart-item p {
  padding: 1.5rem 0;
  font-size: 1.6rem;
}

.sm-cart-img {
  height: 4rem;
}

.total-box {
  display: flex;
  background-color: #0ca678;
  gap: 10rem;
  font-size: 1.6rem;
  color: var(--color-white);
  margin-left: 55rem;
}

.total-box p {
  padding: 1rem;
}
